      @import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);



      body{
          margin: 0 auto;
      }

      .content {
        display: block;
        width:100%;

      }

      .left-nav{
        width:30%;
        position: fixed;
        float: left;
        background-color: #333333;

      }

      .right-nav{
        width:70%;
        float: right;
        background-color: #666666;
        position:relative;
      }


      h1 {
        font-family: ‘Metrophobic’, Arial, serif; font-weight: 300;
        padding-top: 20px;
        color: #ffffff;

      }
