@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);


.content {
  display: block;
  margin: 0 auto;
}

.left-nav{
  width:40%;
  position: fixed;
  float: left;
  background-color: #333333;
}

.right-nav{
  width:60%;
  overflow-y: scroll;
  float: right;
  margin-bottom: 12px;
  background-color: #666666;
  position:relative;
}
